*{
  margin: 0;
}

.navbar-header{
  background-color: #20232A;
     z-index: 32;
    display: flex;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    align-items: center;
    flex-wrap: nowrap;
    height: 52px !important;
}
.issue-name{
  background-color: #FAFBFC !important;

}
.issues-list{
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid darkgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
  background-color: #F6F8FA;
}
.octicon-icon-green{
  color: #2F8D46;
  margin-top: 2px;
}
.issues-list-first{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.comments-right{
  position:absolute; 
  right: 210px;
  display: inline;
  align-items: center;
}
.issue-title{
  display: flex;
  justify-content: flex-start;
  border:1px solid darkgray;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  border-bottom-color: darkgrey;
}
.issues-list-second > div{
  display: inline-flex;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 20px;
  justify-content: space-evenly;
  right: 0;
  float: right;
}
.navbar-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.navbar-text{
  margin-left: 30px;
  width: 100%;
  color: inherit;
  background: none;
  border: 0;
}

.nav-text{
  background:#20232A;
}

.sub-navbar{
  background-color: #FAFBFC !important;
  padding: 20px;
}

.comments-name{
  color: lightgray;
  font-size: 15px;
  margin-bottom: 2px;
}

.child-subnavbar{
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.subnavbar-button{
  position: Absolute;
  display: flex;
  justify-content: center;
  align-items:center;
  top: 65px; 
  right : 10px; 
}

.btn-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-val{
  border:1px solid black;
  padding: 4px;
  background-color: white;
}
.btn-sm > span{
  margin-top: 12px;
}
.heading-one{
  color: #0366d8;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px !important;
}
.heading-two{
  font-weight: 600;
}
.card{
  cursor: pointer;
}
.btn-secondary{
  width: 80px !important;
  background-color: #FAFBFC !important;
  color: black !important;
  border-top-right-radius: 0px !important ;
  border-bottom-right-radius: 0px !important ;
  border: 1px solid darkgray !important;
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn-default{
  border-top-left-radius: 0px !important ;
  border-bottom-left-radius: 0px !important ;
  border-right: 1px solid darkgray !important;
  border-top: 1px solid darkgray !important;
  border-bottom: 1px solid darkgray !important;

}
.btn-default:hover{
  color:#0366d8 !important ;
  font-weight: 400 !important;
}
.btn-secondary:hover{
  background-color: #F3F4F6 !important;
}
.table-style{
  padding: 40px;
}
.octicon-icon{
  margin-top: 3px;
  font-size: 24px !important;
  color: #959DA5 !important;
}
.btn-octicon-icon{
  margin-top: 2px;
  font-size: 14px;
  color: #959DA5 !important;
}

.nav-link:hover{
  border-bottom: 2px solid #959DA5;
  cursor: pointer;
}

.nav-item{
  margin-left: 15px;
}

.nav-link:active{
  border-bottom: 2px solid #F9826C;
}
.active{
  border-bottom: 2px solid #F9826C;

}
.issue-title:hover{
  cursor: pointer;
  background-color: #F6F8FA;
}